$slider-background: #575757;
$slider-fill:#fff;



.video-player-wrapper {
  background: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  video {
    vertical-align: middle;
    width: 100%;
  }
  .help-box{
    position: absolute;
    color: white;
    font-size: 16px;
    padding: 20px 23px;
    background: rgba(0,0,0,1);
    border-radius: 3px;
    border: 1px solid;
    width: 350px;
    padding-left: 80px;
    left: calc(50% - 175px);
    top: 50px;
    height: 100%;
    max-height: 515px;
    overflow-y: scroll;
    z-index: 9;
    p:last-child{
      margin-bottom: 0px;
    }
    p{
      text-align: left;
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
  .video-player-notifications{
    position: absolute;
    color: white;
    font-size: 20px;
    right: 25px;
    top: 25px;
    padding: 5px 23px;
    background: rgba(0,0,0,.5);
    border-radius: 3px;
    border: 1px solid;
    p{
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  .video-controls {
    display: none;
    height: 40px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    width: 100%;
    img {
      height: 20px;
    }
    .disabled {
      opacity: 0.2;
    }
    .disabled:hover {
      cursor: default;
    }
    .playback-control{
      img{
        width:20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .progress-bar-control{
      padding-left: 0px;
    }
    .progress-bar:hover{cursor: pointer}
    .progress-bar {
      padding: 0px;
      width: 100%;
      height: 5px;
      background: $slider-background;
      border-radius: 5px;
      position: relative;
    }
    .progress {
      cursor: pointer;
      background: $slider-fill;
      height: 100%;
      position: absolute;
      top:0px;
      z-index: 1;
    }
    .progress-buffered{
      background: rgba(255,255,255,0.4);
      height: 100%;
      position: absolute;
      top:0px;
    }

    .volume-control {
      position: relative;
    }
    .volume-slider {
      cursor: pointer;
      position: absolute;
      top: -155px;
      padding-top: 5px;
      height: 165px;
      width: 20px;
      background: rgba(0,0,0,0);
      text-align: center;
      .volume-wrapper-box{
        background: rgba(0, 0, 0, 0.7);
        width: 20px;
        height: 100%;
        top: -29px;
        position: absolute;
      }
      .volume-wrapper{
        background: $slider-background;
        position: absolute;
        width: 4px;
        height:calc(100% - 5px);
        left: 8px;
        bottom: 0px;
      }
      .volume {
        width: 4px;
        background: $slider-fill;
        bottom: 0px;
        position: absolute;
        left: 0px;
      }
    }
    .playback-rate-slider {
      position: absolute;
      height: 150px;
      top: -150px;
      width: 20px;
      background: gray;
      .playback-rate {
        width: 8px;
        background: red;
        bottom: 0px;
        position: absolute;
      }
    }

  }
  .display-flex {
    display: flex;
  }
}


.hide-video-controls::-webkit-media-controls {
  display: none !important;
}
